.card {
    width: 270px;
    height: 80px;
}
.card-title {
    position: absolute;
}
.card-title img {
    width: 95.24px;
    height: 70px;
    border-radius: 10px;
    position: relative;
    top: -12px;
    right: -13px;
}
.card-title span {
    font-size: 25px;
    position: relative;
    top: -6px;
}