.footer {
    background: #E5F7FD;
    border-radius: 20px 20px 0px 0px;
}
.footer span {
    font-size: 30px;
    font-weight: bolder;
}
.footer p {
    color: var(--text-footer);
    font-size: 16px;
}
.footer .number , .email {
    color: var(--text-footer);
}
.footer i {
    color: #00ADEE;
}
.footer .email {
    font-size: 14px;
}
.footer .icons i {
    color: #7D7E82;
    margin-left:20px;
    font-size: 18px;
}
.footer .created {
    background: #E5F7FD;
    border-top: 2px solid #FFFFFF;
}
.footer .created span {
    font-size: 18px;
    color: #000000;
}
